
form {
    margin: auto;
    padding: 30px;
    max-width: 600px;
}

h1 {
    background-color: #023047;
    color: white;
    padding: 30px;
}
.btn-primary {
    background-color: #023047 !important;
    border: #023047 !important;
    height: 40px;
    width: 150px;
}
